body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  width: 100%;
  height: 100vh;
}
table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#container-choice-type-list {
  display: none;
}

#container-home-user-name {
  height: 100vh;
}

.centered-content-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.div-gap {
  padding: 20px 0px;
}

.section-item-width {
  width: 500px;
}
