body {
  margin: 0;
  padding: 0;
  background-color: #f1e1ed;
  width: 100%;
  height: 100vh;
  font-family: Noto Sans, sans-serif;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

button {
  background-color: #d4b2d8;
  border-color: #ad42ff;
  border-radius: 10px;
}

#container-choice-type-list {
  display: none;
}

#item-name {
  background-color: #efece5;
  border-color: #545999;
  border-radius: 15px;
}

#item-quantity {
  background-color: #efece5;
  border-color: #545999;
  border-radius: 15px;
}

#container-home-user-name {
  height: 100vh;
}

.centered-content-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.div-gap {
  padding: 20px 0px;
}

.section-item-width {
  width: 500px;
}
